In [31]:
# Code based on SentDex Machine Learning Course
# Daniel Neamati 
# 3 July 2019


# Import Statements

import pandas as pd
import numpy as np

import quandl
import math

from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

In [21]:
# Choose the variable that you want to predict 
# (Run the next section to see an example data frame)

forecast_col = 'Adj. Close'

In [2]:
# Choose your stock here and run the rest of the notebook

df = quandl.get('WIKI/GOOGL', authtoken='SvToyu-X_Rqvmdvab_LX')
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [41]:
# Choose only the columns of interest

df_Small = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
df_Small.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

In [42]:
# Add Additional Columns of relevant factors

# Percent Volatility (High - Low) percent
df_Small['HL_PCT'] = (df_Small['Adj. High'] - df_Small['Adj. Low']) \
                            / df_Small['Adj. Close'] * 100.0

# Percent Change
df_Small['PCT_change'] = (df_Small['Adj. Close'] - df_Small['Adj. Open']) \
                            / df_Small['Adj. Open'] * 100

# Now we make a new data frame of the most relevant columns
df_New = df_Small[['Adj. Close', 'HL_PCT', 'PCT_change', 'Adj. Volume']]

# Now we want to deal with any missing data (e.g. NaN) by replacing it with outliers.
df_New.fillna(-9999, inplace = True)

df_New.head()

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Daniel\Anaconda3\lib\site-packages\pandas\core\frame.py:3035: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [43]:
# Now we want to make our label


timeScaleForecast = int(math.ceil(0.01 * len(df_New)))

df_New['label'] = df[forecast_col].shift(-timeScaleForecast)
df_New.dropna(inplace = True) # Remove the NaN from above line
df_New.head(40)

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Daniel\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0  69.078238
2004-08-20   54.322689  7.921706    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.049360   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.657099   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.886792    1.183658    9188600.0  71.219849
2004-08-26   54.122070  3.048837    2.820391    7094800.0  72.278116
2004-08-27   53.239345  2.760245   -1.803885    6211700.0  74.810934
2004-08-30   51.162935  3.411430   -3.106003    5196700.0  74.199045
2004-08-31   51.343492  1.514115    0.048866    4917800.0  70.462511
2004-09-01   50.280210  3.291771   -2.385589    9138200.0  74.921275
2004-09-02   50.912161  3.378977    2.442224   15118600.0  86.481962
2004-09-03   50.159839  2.419758   -0.931154    5152400.0  93.990139
2004-09-07   50.947269  2.352825    0.564301    5847500.0  91.181468
2004-09-08   51.308384  2.473118    1.548541    4985600.0  93.272925
2004-09-09   51.313400  1.671391   -0.185366    4061700.0  96.949273
2004-09-10   52.828075  4.993829    3.804080    8698800.0  95.615155
2004-09-13   53.916435  1.813953    0.815905    7844100.0  98.318500
2004-09-14   55.917612  4.673065    3.769546   10828900.0  97.736704
2004-09-15   56.173402  3.598214    1.302460   10713000.0  96.131750
2004-09-16   57.161452  3.641309    1.450952    9266300.0  92.635958
2004-09-17   58.926902  3.353477    2.683097    9472500.0  84.937193
2004-09-20   59.864797  4.046582    2.060710   10628700.0  86.542147
2004-09-21   59.102444  2.469450   -1.963394    7228700.0  84.611187
2004-09-22   59.373280  2.415949    0.791826    7581200.0  84.189886
2004-09-23   60.597057  4.643271    1.666106    8535600.0  91.793357
2004-09-24   60.100525  3.621798   -0.942382    9123400.0  91.281778
2004-09-27   59.313094  2.604431   -1.087320    7066100.0  92.721222
2004-09-28   63.626409  5.667665    4.713165   16929000.0  86.539640
2004-09-29   65.742942  6.705829    3.595985   30516400.0  86.517070
2004-09-30   65.000651  2.546296   -0.230179   13758000.0  84.029391
2004-10-01   66.495265  4.027757    1.360856   15124800.0  84.962270
2004-10-04   67.739104  2.102769   -0.158936   13022700.0  82.805613
2004-10-05   69.399229  4.545783    2.755087   14973200.0  84.019360
2004-10-06   68.752232  1.787278   -0.428561   13381400.0  87.650569
2004-10-07   69.639972  2.398272    1.676919   14115000.0  89.972737
2004-10-08   69.078238  1.931315   -0.720825   11069500.0  90.805307
2004-10-11   67.839414  3.703978   -1.277279   10472100.0  91.271747
2004-10-12   68.912727  3.064047    2.163730   11665500.0  90.258620
2004-10-13   70.668146  2.462740   -1.633622   19766200.0  89.977753
2004-10-14   71.219849  2.690141    0.694937   10442100.0  90.479301

In [44]:
# Common Notation is X as features and y as labels

X = np.array(df_New.drop(['label'], 1)) # Keep all but 'label'
y = np.array(df_New['label']) # Only Keep 'label'

# To scale X before the classifier
# Would not be used with real time data
X = preprocessing.scale(X) 

y = np.array(df_New['label'])

assert(len(X) == len(y)) # Make sure each X has a corresponding y

# Now Split X and y
percentSplit = 0.2
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, \
                                    test_size = percentSplit)

In [50]:
# Now we make the classifier

stock_classifier = LinearRegression()
stock_classifier.fit(X_train, y_train)
accuracy = stock_classifier.score(X_test, y_test)

print(accuracy)

0.9769074641114731

In [49]:
# Not with a different classifier

stock_classifier_SVM = svm.SVR()
stock_classifier_SVM.fit(X_train, y_train)
accuracy = stock_classifier_SVM.score(X_test, y_test)

print(accuracy)

0.7859413463481079